@import "tailwindcss";
@import "../stylesheets/actiontext";

@import "../stylesheets/railsui/theme";
@import "../stylesheets/railsui/actiontext";
@import "../stylesheets/railsui/headings";
@import "../stylesheets/railsui/forms";
@import "../stylesheets/railsui/navigation";
@import "../stylesheets/railsui/buttons";